img {
	width: 100px;
	position: absolute;
	top: 100px;
	left: 10px;
}

#rules {
	margin: 10rem;
	padding: 1rem;
	display: inline-block;
	border: .5px white solid;
	text-align: center;
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=Rubik:wght@300;400&display=swap');

body {
	background: linear-gradient(
		-45deg,
		#3f51b1 0%,
		#5a55ae 13%,
		#7b5fac 25%,
		#8f6aae 38%,
		#a86aa4 50%,
		#cc6b8e 62%,
		#f18271 75%,
		#f3a469 87%,
		#f7c978 100%
	);
	background-size: 400% 400%;
	animation: gradient 40s ease infinite;
	height: 100vh;
	/* to center everything with flexbox */
	display: flex;
	justify-content: center;
	align-items: center;
	text-transform: uppercase;
}

@keyframes gradient {
	0% {
		background-position: 0%;
	}
	50% {
		background-position: 100%;
	}
	100% {
		background-position: 0%;
	}
}

body {
	color: white;
	font-family: Open Sans, sans-serif;
	font-weight: 100;
	font-size: 1rem;
	letter-spacing: 1rem;
}
